*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family:"Montserrat",serif;
}

:root {
    --color-primario: rgb(242, 235, 227);
    --color-secundario: rgb(255, 255, 255);
    --color-terciario: rgb(60, 128, 107);
    --color-cuaternario:rgb(150,150,150);
}

.fondo {
    background-color: var(--color-primario);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario);
    border-radius: 10px;
    width: 34rem;
    height: 60%;
    
}

.descripcion {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    padding:2rem;
    width:90%;
    
}

.imagen {
    width:100%;
    height:100%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 8px 0 0 8px ;
}

.estiloBoton{
    background-color: var(--color-terciario);
    padding: 0.7rem;
    border-radius:8px;
    border:none;
    color: var(--color-secundario);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Montserrat",serif;
    gap: 8px;
    font-size: 0.7rem;
}

.detalle{
    letter-spacing:4px;
    font-size: 0.7rem;
    color:var(--color-cuaternario);    
}

h1{
    font-family:"Fraunces",serif;
    font-size: 2rem;
    line-height:29px;
}

p{
    font-size: 0.7rem;
    color:var(--color-cuaternario);  
    line-height:15px;  
}

.precio-principal{
    color: var(--color-terciario);
    font-weight: bold;
    font-family:"Fraunces",serif;
    font-size: 1.8rem;
}

.contenedor-precio{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:16px;
}

.precio-secundario{
    font-size: 0.8rem;
    text-decoration:line-through;
    color:var(--color-cuaternario); 
}

.carrito-compras{
    height:0.9rem;
    width:auto;
}