*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family:"Montserrat",serif;
}

:root {
    --color-primario: rgb(242, 235, 227);
    --color-secundario: rgb(255, 255, 255);
    --color-terciario: rgb(60, 128, 107);
}

.fondo {
    background-color: var(--color-primario);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario);
    border-radius: 10px;
    width: 33rem;
    height: 65%;
    
}

.descripcion {
    height: 100%;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    width:90%;
    
}

.imagen {
    width:100%;
    height:100%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 8px 0 0 8px ;
}

.estiloBoton{
    background-color: var(--color-terciario);
    padding: 0.7rem;
    border-radius:8px;
    border:none;
    color: var(--color-secundario);
    font-weight: bold;
}